.hero {
  min-height: 100vh;
  max-width: var(--body-max-w);
  margin: 0 auto;
  display: flex;
  padding: 15rem 4rem;
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .hero-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.hero .hello-world {
  font-size: var(--fs-lg);
  font-family: var(--ff-mono);
  font-weight: 700;
  letter-spacing: 0.1px;
  color: var(--neutral-750);
  max-width: fit-content;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid var(--primary-570);
  width: 0;
  animation: type calc(var(--s5) + var(--ms500)) steps(67, jump-end) forwards,
    blink var(--ms900) steps(1, jump-end) 3 forwards;
  animation-delay: var(--ms300), var(--s3);
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .title {
  font-size: var(--fs-6xl);
  font-family: var(--ff-sans-title);
  font-weight: 900;
  color: var(--neutral-800);
  letter-spacing: 0.25px;
  margin-block: 0.25em;
  line-height: 1;
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .title .name {
  position: relative;
}

.hero .title .name::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0.125em;
  background-color: var(--primary-600);
  left: 0;
  bottom: 0;
  animation: underline var(--ms350) var(--ease-in-out-quad) both;
  animation-delay: calc(var(--s2) + var(--ms600));
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .sub-title {
  font-size: calc(var(--fs-4xl) - 0.125rem);
  font-family: var(--ff-sans-title);
  letter-spacing: 0.2px;
  font-weight: 800;
  color: var(--neutral-750);
  line-height: 1.1;
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .intro {
  font-size: var(--fs-lg);
  font-family: var(--ff-sans-body);
  font-weight: 400;
  color: var(--neutral-700);
  line-height: 1.75em;
  max-width: 52ch;
  margin-block-start: 1.25em;
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .intro .status {
  font-weight: 500;
  color: var(--neutral-800);
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .text-box .btn {
  margin-block: 2em;
  font-size: var(--fs-base);
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .image-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero .image-wrapper {
  max-width: 22rem;
  min-height: 22rem;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  position: relative;
}

.hero .image-wrapper .background {
  width: 22rem;
  aspect-ratio: 1 / 1;
  background-color: var(--primary-600);
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .wrapper .dark-background {
  background-color: var(--image-shade);
  position: absolute;
  width: 90%;
  height: 90%;
  top: 30%;
  left: 30%;
  z-index: -1;
  transition: all var(--ms300) var(--ease-out-expo);
}

.hero .image-wrapper .profile {
  position: absolute;
  z-index: 10;
  top: -0.5rem;
}

.hero .wrapper {
  position: relative;
  margin-top: -10rem;
  margin-right: 9rem;
}

.waving-hand {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@media only screen and (min-width: 1100px) {
  .hero .title .break {
    display: none;
  }
}

@media only screen and (max-width: 50em) {
  .hero {
    display: block;
    min-height: auto;
    padding: 0 1.5rem;
    margin-inline: unset;
  }

  .hero .hero-box {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }

  .hero .intro {
    font-size: var(--fs-base);
  }

  .hero .image-box {
    grid-row: 1;
    justify-content: center;
    margin-top: 7rem;
  }

  .hero .text-box {
    text-align: center;
    align-items: center;
  }

  .hero .hello-world {
    margin-inline: auto;
    animation: none;
    width: 100%;
    border: none;
  }

  .hero .title {
    margin-block: 1rem;
  }

  .hero .title .name::after {
    animation-delay: 500ms;
  }

  .hero .intro {
    margin-inline: auto;
    font-size: var(--fs-base);
  }

  .hero .text-box .btn {
    margin-inline: auto;
  }

  .hero .image-wrapper .profile {
    z-index: unset;
    top: -1rem;
  }
  .hero .wrapper {
    margin-top: auto;
    margin-right: 0;
  }
  .hero .wrapper .dark-background {
    position: absolute;
    width: 90%;
    height: 90%;
    top: 20%;
    left: 20%;
    z-index: -1;
  }

  .hero .image-wrapper,
  .hero .image-wrapper .background {
    max-width: 10rem;
  }

  .hero .image-wrapper {
    min-height: auto;
  }
}
